.cardsection{
    display: flex;
    flex-wrap: wrap;

}
.card {
    width: 400px;
    margin: 0px auto;
    background-color: white;
    box-shadow: 0px 5px 20px #999; 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
}

.img_card{
    width: 150px;

}

.img_card img{
    width: 100%;
}

.title, .realisateur, .duree, .genre, .date{
    text-align: left;
}

.synopsis{
    text-align: center;
}

.bandeannonce{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ulnavun{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.genre{
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-evenly;
}

.realisateur{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.realisateur li{
    margin:1% 1%;
    text-align: center;
}


